/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

----------------------------------------------------------------------------------------
*/

params {
    project = 'TestDATA'

    // Input data for test
    metadata = "s3://pacinfo-fs/tmp/qong/bsbolt/testData/s3_design.csv"
    index    = "s3://pacinfo-fs/tmp/qong/bsbolt/hg38_chr1_indexed/"
}
